<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>테스트</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css">
    <style>
        .linkToMoveWrap {
            display: none;
            position: fixed;
            left:0;
            bottom:0;
            right: 0;
            text-align: center;
        }
        .shown {
            display: block;
        }
    </style>
</head>
<body>
    <div class="invitationContentArea">
        <span class="bandLogo gIcon icon-gnb-bandlogo"><span class="gSrOnly">BAND</span></span>
        <!-- <%= generateBandNameCoverTemplate() %> -->
    
        <p class="infoMsg">
            <!-- <%= IM('invitation.recommend_use_app') %> -->
        </p>
    
        <!-- <% if (msg_isIosOrAndroid) { %> -->
        <div class="buttonWrap">
            <button type="button" class="uBtn -point -hLarge -w100 _appInstallBtn">
                GetBAND & Join the group
                <!-- <%- IM('mobile.label.install_app') %> -->
            </button>
            <button type="button" class="uBtn -point -hLarge -w100 -reverse _openBandApp">
                Join the group now
                <!-- <%- IM('open.bandApp') %> -->
            </button>
        </div>
        <!-- <% } %> -->
    
        <div class="linkToMoveWrap">
            <a href="#" class="linkToMove gIcon icon-a-arrow-next2 _btnContinueInWeb">
                Continue in Browser
                <!-- <%- IM('login_and_install.label.continue_in_web') %> -->
            </a>
        </div>

        <div class="langSelectWrap" style="height:1500px">
            <div class="floating_btn">
                <a href="#">Get BAND & Join the group</a>
            </div>
            <div class="bandItro">
                <h2 class="bandItroTitle">What is Band? </h2>
                <div class="bandItroTxtWrap">
                    <p class="bandItroText">BAND is a group organization app that provides fun and easy way to communicate.</p>
                </div>
                <div class="bandItroImgWrap">
                    <div class="swiper-container">
                        <!-- <div class="swiper-scrollbar"></div> -->
                        <div class="swiper-button-prev">이전버튼</div>
                        <div class="swiper-button-next">다음버튼ㅊㅇ</div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                            <div class="swiper-slide">Slide 4</div>
                            <div class="swiper-slide">Slide 5</div>
                            <div class="swiper-slide">Slide 6</div>
                            <div class="swiper-slide">Slide 7</div>
                            <div class="swiper-slide">Slide 8</div>
                            <div class="swiper-slide">Slide 9</div>
                            <div class="swiper-slide">Slide 10</div>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
                <div class="bandItroTxtWrap">
                    <p class="bandItroText">With BAND, you can chat with your group,  react to posts, share photos & videos, view  events, and share important information.</p>
                    <p class="bandItroText">The best part is, BAND is FREE, private and  secure.</p>
                    <p class="bandItroText">Get BAND now and stay up-to-date with  your group.</p>
                </div>
            </div>
        </div>
        

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.js"></script>
    <script src="../build/app.js"></script>
</body>
</html>